@import '../../../theme/palette';
@import '../../../theme/breakpoints';

.Accordion {
  max-width: 1023px;

  &_summary {
    background-color: $_color_background_primary;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 6px {
      left: 12px;
    }

    @media (break-up(md)) {
      padding: 8px {
        left: 19px;
        right: 33px;
      }
    }

    p {
      color: $_color_text_contrasted;
      font-size: 13px;

      @media (break-up(md)) {
        font-size: 24px;
      }
    }
  }

  &_expandIcon {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    display: block;

    @media (break-up(md)) {
      top: 10px;
      height: 30px;
      width: 30px;
    }

    &:hover {
      cursor: pointer;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: '';
      border: 10px solid transparent;

      @media (break-up(md)) {
        border-width: 15px;
      }
    }

    &::before {
      top: 0;
      border-top-color: $_color_text_contrasted;
    }

    &::after {
      top: -4px;
      border-top-color: $_color_background_primary;
    }

    &.isOpen {
      top: -5px;
      transform: rotate(180deg);

      @media (break-up(md)) {
        top: -10px;
      }
    }
  }

  &_details {
    background-color: $_color_background_alternative;
    border-radius: 5px;
    position: relative;
    top: -5px;
    z-index: 9;
    overflow: hidden;
    visibility: collapse;

    p,
    ul {
      margin: 23px 6px 53px 12px;

      @media (break-up(md)) {
        margin: 33px 19px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }

    &.isOpen {
      visibility: unset;
    }
  }
}
