@import '../../../theme/palette';
@import '../../../theme/breakpoints';

.Accordion {
  max-width: 1023px;

  &_summary {
    background-color: $_color_background_primary;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 6px {
      left: 12px;
    }

    &:hover {
      cursor: pointer;
    }

    @media (break-up(md)) {
      padding: 8px {
        left: 19px;
        right: 33px;
      }
    }

    p {
      color: $_color_text_contrasted;
      font-size: 13px;

      @media (break-up(md)) {
        font-size: 24px;
      }
    }
  }

  &_details {
    background-color: $_color_background_alternative;
    border-radius: 5px;
    position: relative;
    top: -5px;
    z-index: 9;
    overflow: hidden;
    height: 0;

    p,
    ul {
      margin: 23px 6px 53px 12px;

      @media (break-up(md)) {
        margin: 33px 19px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }

    &.isOpen {
      height: 100%;
    }
  }
}
