@import '../../../theme/breakpoints';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media (break-up(md)) {
    padding: 40px 100px;
  }

  &_logo {
    width: 145px;

    @media (break-up(md)) {
      width: 210px;
    }
  }

  &_mainNav {
    list-style: none;
    display: flex;
  }

  &_navItem {
    margin-left: 10px;

    @media (break-up(md)) {
      margin-left: 57px;
    }

    a {
      text-decoration: none;
    }
  }

  .active {
    text-decoration: underline;
  }
}
