.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;

  &_mainNav {
    list-style: none;
    display: flex;
  }

  &_navItem {
    margin-left: 57px;

    a {
      text-decoration: none;
    }
  }

  &--active {
    margin-left: 57px;
    text-decoration: underline;
  }
}
