.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.mainNav {
  list-style: none;
  display: flex;
}

.navItem,
.navItem--active {
  margin-left: 57px;
}

.navItem a {
  text-decoration: none;
}

.navItem--active {
  text-decoration: underline;
}
