@import '../../../theme/breakpoints';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media (break-up(md)) {
    padding: 40px 100px;
  }

  &_logo {
    width: 145px;
    height: 47px;
    margin: 0;
    background: transparent url("../../images/logoKasa.svg") no-repeat;
    background-size: contain;
    text-indent: -30000px;

    @media (break-up(md)) {
      width: 210px;
    height: 68px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &_mainNav {
    list-style: none;
    display: flex;
  }

  &_navItem {
    margin-left: 10px;

    @media (break-up(md)) {
      margin-left: 57px;
    }

    a {
      text-decoration: none;
    }
  }

  .active {
    text-decoration: underline;
  }
}
