@import "../../../theme/breakpoints";

.Layout {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;

  &_children {
    flex-grow: 2;
    padding: 0 20px;

    @media (break-up(md)) {
      padding: 0 100px;
    }
  }
}
