:root {
  --color-primary: #ff6060;
  --color-text-default: #ff6060;
  --color-text-contrasted: #ffffff;
  --color-background-default: #ffffff;
  --color-background-alternative: #f6f6f6;
  --color-background-dark: #000000;
}

* {
  color: var(--color-text-default);
}

#root {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
}
