@import '../../theme/palette';
@import '../../theme/breakpoints';

.About {
  .Hero {
    margin-bottom: 31px;
    height: 223px;
  }

  &_accordionsWrapper {
    display: flex;
    flex-direction: column;

    .Accordion {
      margin: auto {
        bottom: 33px;
      }
    }
  }
}
